.drilldown {
    padding-left: 0;

    font-size: 110%;

    ul,
    ul li,
    li,
    li ul,
    li ul li {
        list-style: none;
    }

    .dd-parent-a {
    }

    .dd-icon {
        margin-top: -6px;
        padding: 6px 18px;
        background: $brand-primary;
        color: #fff;
        font-size: 150%;
    }

    .drilldown-menu {
        overflow: hidden;
        position: relative;

        ul {
            top: 0;
            margin: 0;
            right: 0;
            position: absolute;
        }

        > ul.nav {
            > li {
                padding: 10px 10px 10px 18px;
            }
        }

        li.drilldown-parent {
            > a,
            > a:hover,
            > a:focus {
                color: $gray-dark;
                text-decoration: none;
                font-weight: 600;
                display: block;
                width: 100%;
            }
        }
    }

    .nav > li {
        > a,
        > a:hover,
        > a:focus {
            color: $gray-dark;
            text-decoration: none;
        }
    }

    .breadcrumb {
        margin-bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        background: $theme-highlight-color;
        padding: 8px 0;
        min-height: 2em;

        clear: both;

        a,
        a:hover,
        a:focus {
            color: $white;
            text-decoration: none;
            font-weight: 600;
        }

        i {
            vertical-align: middle;
        }

        > li {
            display: inline-block;

            &:first-child {
                margin-left: .5em;
            }
        }

        > li + li:before {
            content: "/\00a0";
            padding: 0 5px;
            color: $white;
        }

        > .active {
            color: $white;
        }
    }
}

.drilldown-menu a {
    position: relative;
}

.floating-toggle {
    position: absolute;
    right: 0;
    z-index: 100;
    padding: 7px 12px;
}

.drilldown .btn-group .btn-responsive {
    span {
        display: inline-block;
        min-height: 4.5em;
    }
}

.drilldown-footer {
    background: $brand-primary;

    hr {
        margin: $grid-gutter-width-base;
        border: none;
    }

    .btn-wrap {
        padding: $grid-gutter-width-base;
    }
}

#drilldown-buttons {
    margin: .5rem 0;
    .col-6 + .col-6 {
        padding-left: 0;
    }
}
