<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/" title="Back to the home page">Home</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/amazing-category.html" title="Back to the home page">Amazing Category</a>
    </li>
    <li class="breadcrumb-item active">
        An awesome product
    </li>
</ol>
