<div class="row">
    <div class="col-12">
        <div class="box box-cart-article">
            <div class="box-header">
                <div class="row">
                    <div class="col-md-5 col-12">
                        <span class="box-title">Article 1: Awesome product</span>
                    </div>
                    <div class="col-md-3 hidden-md-down">
                        <span class="box-title">Amount</span>
                    </div>
                    <div class="col-md-2 hidden-md-down text-right"><span class="box-title">Price</span></div>
                    <div class="col-md-2 hidden-md-down text-right"><span class="box-title">Total</span></div>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-2 col-4">
                        <a title="" href="/product-detail.html"><img alt="" class="img-fluid" src="/img/awesome-product.jpg"></a>
                    </div>
                    <div class="col-lg-3 col-8">
                        <p><b>Awesome product</b></p>
                        <p>
                            Measurements: 240x50x140 cm <br>
                            Color: Black<br>
                            Material: Leather<br>
                            Article number: 123456789
                        </p>
                    </div>
                    <div class="col-lg-3 col-12 col-sm-8 offset-sm-4 offset-lg-0">
                        <div class="counter float-right float-lg-none">
                            <label class="hidden-lg-up d-block text-center" for="quantity">Amount</label>
                            <button class="btn btn-primary" data-action="decrement-counter"><i
                                        class="fa fa-minus" aria-hidden="true"></i><span class="sr-only">Reduce amount</span>
                            </button>
                            <input id="quantity" name="quantity" type="text"
                                   class="form-control form-control-lg quantity-input" value="1" data-max-quantity="99">
                            <button class="btn btn-primary" data-action="increment-counter"><i
                                        class="fa fa-plus" aria-hidden="true"></i><span class="sr-only">Increase amount</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-2 col-12">
                        <p class="text-right"><span class="hidden-lg-up">Price:</span> 249,00 €</p>
                    </div>
                    <div class="col-lg-2 col-12">
                        <p class="text-right"><span class="hidden-lg-up"><b>Total:</b></span> <b>249,00 €</b></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-10 offset-lg-2">
                        <ul class="list-inline list-unstyled">
                            <li><a href="#" class="btn btn-secondary"><i class="fa fa-trash"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
