<div class="box box-product">
    <div class="box-body">
        <div class="product-image with-overlay">
            <div class="overlay">
                <div class="labels">
                    <span class="badge badge-pill badge-primary">50%</span>
                </div>
                <a href="#" title="Add to cart">
                    <div class="icon">
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                    </div>
                </a>
            </div>
            <img src="/img/awesome-product.jpg" class="img-fluid" alt="Product image" />
        </div>
        <p><a href="/product-detail.html">Awesome product</a></p>
        <p class="price">
            <del class="small">499,99 €</del>
            <span class="amount">&nbsp;only 249,00 €</span>
        </p>
    </div>
</div>
