{% extends "index.twig" %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/" title="Back to the home page">Home</a>
                </li>
                <li class="breadcrumb-item active">
                    Amazing Category
                </li>
            </ol>
        </div>
        <div class="col-12">
            <div class="section-divider">
                <span class="h3">Amazing Category</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 push-sm-6">
            <div class="float-sm-right">
                <div class="select-container">
                    <label for="sort">Sort:</label>
                    <select id="sort" name="count" class="select2-init" data-width="10rem">
                        <option>Price: ascending</option>
                        <option>Price: descending</option>
                        <option>Name: ascending</option>
                        <option>Name: descending</option>
                    </select>
                </div>
                <div class="select-container">
                    <label for="count">Count:</label>
                    <select id="count" name="count" class="select2-init" data-width="5rem">
                        <option>24</option>
                        <option>48</option>
                        <option>96</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 pull-sm-6">
            {% include "components/filter.html.twig" %}
        </div>
    </div>
    <div class="row">
        {% for i in 1..24 %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                {% include "components/product-box.html.twig" %}
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-12">
            <nav aria-label="Product category page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}
